.products-component
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 1rem 10rem 0rem 10rem
  img
    width: 180px
    height: 25px
    margin-bottom: 40px
  .table-container
    height: fit-content
    min-height: 632px
    background: white
    justify-content: space-between
    display: flex
    flex-direction: column
    table
      width: 1000px
      .mat-mdc-row .mat-mdc-cell
        border-bottom: 1px solid transparent
        border-top: 1px solid transparent
        cursor: pointer
        
      .mat-mdc-row:hover .mat-mdc-cell
        border-color: #EAEAEA

  .btn-logout
    position: absolute
    top: 20px
    right: 20px
    color: #171717
    border-radius: 0
    font-size: 14px
    padding: 8px 0 8px 0
    height: fit-content
    box-shadow: none
